<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados do Formulário</title>
</head>
<body>
  <div class="container mt-5">
    <h1>Dados do Formulário</h1>
    <p><strong>Nome:</strong> {{dados.nome}}</p>
    <p><strong>Endereço:</strong> {{dados.endereco}}</p>
    <p><strong>Telefone:</strong> {{dados.telefone}} </p>
    <p><strong>Data de Agendamento:</strong> {{dados.data}}</p>
  </div>
</body>
</html>
